.header {
  position: relative;
  background-color: #000000;
  color: #eee;
  height: 7rem;
  margin-bottom: 4rem;
  border-bottom: 1px solid #444;

  nav, nav > ul, li, a {
    height: 100%;
    width: 100%;
  }
  
  > nav {
    > ul {
      display: flex;
      
      > li, > li > a {
        justify-content: center;
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
      }
      li {
        flex: 1;
        transition: all .2s;
        font-size: 2rem;
        position: relative;

        &::after, &::before, > a::after, a::before {
          content: '';
          position: absolute;
          width: 1px;
          height: 0;
          background-color: #FFF;
          transition: all .4s;
        }
        
        &::before {
          right: 0;
          top: 0;
        }
        
        &::after {
          right: 0;
          bottom: 0;
        }
        
        &:hover::before, > a:hover::before, &:hover::after , > a:hover::after {
          height: 50%;
        }  
        
        > a {
          position: relative;
          height: 100%;
          
          &::before {
            left: -1px;
            top: 0;
          }
          
          &::after {
            left: -1px;
            bottom: 0;
          }
        }
        &:hover {
          background-color: #111;
          color: #eff;
          cursor: pointer;
        }
      }
    }
  }

}