html {
  font-size: 62.5%;
  height: 100vh;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased; }

body {
  color: #fff;
  background-color: #0b0b0b;
  font-size: 1.5rem;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative; }

body, .container, #root {
  height: 100%; }

* {
  padding: 0;
  margin: 0;
  user-select: none; }

*, *::before, *::after {
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: none; }

ul, ol {
  list-style: none; }

img {
  display: inline-block;
  vertical-align: top; }

pre, code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

button {
  border: none; }
  button:focus {
    outline: none; }

@keyframes in {
  0% {
    transform: scale(0);
    opacity: 0; }
  50% {
    opacity: 100%; }
  100% {
    transform: scale(0.91);
    opacity: 100%; } }

@keyframes main {
  0% { }
  100% { } }

main {
  min-height: calc(100vh - 6rem);
  padding: 3rem 2rem; }
  main > * {
    animation-name: in;
    animation-duration: .3s;
    animation-fill-mode: forwards; }

.header {
  position: relative;
  background-color: #000000;
  color: #84f576;
  height: 8rem;
  border-bottom: 1px solid rgba(132, 245, 118, 0.15); }
  .header nav, .header nav > ul, .header li, .header a {
    height: 100%;
    width: 100%; }
  .header > nav > ul {
    display: flex; }
    .header > nav > ul > li, .header > nav > ul > li > a {
      justify-content: center;
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center; }
    .header > nav > ul li {
      flex: 1;
      transition: all .2s;
      position: relative; }
      .header > nav > ul li::after, .header > nav > ul li::before, .header > nav > ul li > a::after, .header > nav > ul li a::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 0;
        background-color: #FFF;
        transition: all .4s; }
      .header > nav > ul li::before {
        right: 0;
        top: 0; }
      .header > nav > ul li::after {
        right: 0;
        bottom: 0; }
      .header > nav > ul li:hover::before, .header > nav > ul li > a:hover::before, .header > nav > ul li:hover::after, .header > nav > ul li > a:hover::after {
        height: 50%; }
      .header > nav > ul li > a {
        position: relative;
        height: 100%;
        font-size: 1.67rem;
        text-align: center; }
        .header > nav > ul li > a::before {
          left: -1px;
          top: 0; }
        .header > nav > ul li > a::after {
          left: -1px;
          bottom: 0; }
      .header > nav > ul li:hover {
        background-color: #020e0f;
        color: #eff;
        cursor: pointer;
        letter-spacing: .32px; }
